html{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.page_break{
	page-break-after: always;
}


/* @font-face{
    font-family: arial;
    src: url(../vendor/fonts/arial.ttf);
}

@font-face{
    font-family: arialb;
    src: url(../vendor/fonts/arialbd.ttf);
    font-weight: bold;
}

b{
	font-family: arialb !important;
}

.mb-0{
	margin-bottom: 0;
}

.mt-0{
	margin-top: 0;
}

.mbt-0{
	margin-bottom: 0;
	margin-top: 0;	
}

.text-center{
	text-align: center;
} */

/* Orden de Clausura */

/* .folio{
	font-family: arialb;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
}

.oi-header-datos{
	font-family: arial;
	font-size: .65em;
}

.contenido-general{
	font-family: arial;
	text-align: justify;
	font-size: .60em;
}

.fecha-cierre{
	font-size: .60em;
}

.atte{
	font-size: .60em;
}

.firma-encargado{
	text-transform: uppercase;
	font-size: .60em;
}

.representante div{
	padding: 5px;
	border-style: solid;
  	border-width: 1px;
}

.firma-representante{
	text-transform: uppercase;
	font-size: .60em;
}

.constancia{
	font-family: arial;
	font-size: .60em;
}

.firma-orden-inspeccion .encargado{
	width: 40%;
}
.firma-orden-inspeccion .representante{
	width: 60%;
} */


/* Fin Orden de Inspección*/

/* Acta de Inspeccion */
/* 
.ai-header-datos{
	font-family: arial;
	font-size: .65em;
}

.ai-contenido-general{
	font-family: arial;
	text-align: justify;
	font-size: .65em;
}

.ai-documentacion-requerida{
	font-family: arial;
	border-collapse: collapse;
	border: 1px solid black;
	width: 100%;
}

.ai-documentacion-requerida .doc{
	width: 50%;
}

.ai-documentacion-requerida .sol, .ai-documentacion-requerida .exh{
	width: 5%;
}

.ai-documentacion-requerida .obs{
	width: 30%;
}

.ai-documentacion-requerida td{
	font-size: .40em;
	font-family: arialb;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid black;
}

.ai-documentacion-requerida th{
	font-family: arialb;
	font-size: .40em;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid black;
}

.ai-documentacion-requerida .nombre-documento{
	text-align: left !important;
	font-size: .37em !important;
}

.observaciones{
	font-family: arial;
	text-transform: uppercase;
	font-size: .45em;
}

.derivado{
	font-family: arial;
	text-align: justify;
	font-size: .50em;
}


.firma-acta-inspeccion{
	font-size: .50em;
	text-transform: uppercase;
	padding-left: 5%;
	width: 100%;

}

.firma-acta-inspeccion .ai-firma-inspector{
	width: 50%;
}

.firma-acta-inspeccion .ai-firma-encargado{
	width: 50%;
} */



/* Fin Acta de Inspeccion */
