@font-face{
    font-family: arial;
    src: url(../vendor/fonts/arial.ttf);
}

@font-face{
    font-family: arialb;
    src: url(../vendor/fonts/arialbd.ttf);
    font-weight: bold;
}

html, body{
	font-family: arial;
	margin: 0 !important;
	font-size: .8em;
	line-height: 1.1;

}


/* Estilos Globales */

.mb-0{
	margin-bottom: 0 !important;
}

.mb-1{
	margin-bottom: .25rem !important;
}

.mt-1{
	margin-top: .25rem !important;
}

.container{
	width: 90%;
	margin-right: auto;
    margin-left: auto;
    display: block;
}


.text-justify{
	text-align: justify;
}

.page_break{
	page-break-before: always; 
}

.header-datos{
	font-family: arialb;
}

.documentacion-requerida{
	font-family: arialb !important;
}



/* Fin Estilos Globales */

.folio{
	font-size: 1.2em !important;
	margin-top: 0;
	margin-bottom: 0;
	float: right;
}


/* Orden de Inspeccion */

.table-firma{
	width: 100%;
}
.table-firma td{
	width: 50%;
}

.table-firma .td-datos-encargado{
	padding-left: 20px;
}

.atte{
	padding-left: 20px;
}

.firma{
	border-style: solid;
  	border-width: 1px;
  	padding: 5px;
}

/* Fin Orden de Inspección*/

/* Acta de Inspección */

.datos-comercio{
	font-size: .70em !important;
}

.acta-inspeccion-text{
	font-size: .70em !important;
}

.documentacion{
	font-size: .55em;
}

.doc-row{
	width: 40%;
}

.sol-row, .exh-row{
	width: 5%;
}

.th-line-height{
	line-height: 5px;
}

.observaciones, .footer-text{
	font-size: .70em !important;
}

.firma-inspector, .firma-encargada{
	font-size: .70em !important;
}

.table-firma .td-datos-inspector{
	padding-left: 20px;
}

/* Fin Acta de Inspección */
