/* Globales */

.mtb-50{
  margin-top: 60% !important;
  margin-bottom: 50% !important;
}

.text-primary-color{
	color: #4b1617;
}



/* Login */

.logotipo-login{
  width: 10%;
  position: absolute;
  margin-top: 2%;
}

/* Dashboard */

.header .logo {
    float: left;
    margin: 0px 0 0 15px !important;
}

html.no-overflowscrolling .sidebar-left .nano {
    background: #4b1617 !important;
    -webkit-box-shadow: -5px 0 0 #2F3139 inset;
    box-shadow: -5px 0 0 #732f30 inset !important;
}

.sidebar-left .sidebar-header .sidebar-title {
    background: #4b1617;
    color: #ffffff;
    font-weight:  700;
}

.sidebar-left .sidebar-header .sidebar-toggle {

    background-color: #5e1c1d;
}

.page-header {
    background: #5e1c1d;
    border-left: 1px solid #5e1c1d;
}
.page-header h2 {
    border-bottom-color: #732f30;
}

ul.nav-main > li > a:hover, ul.nav-main > li > a:focus {
    background-color: #732f30;
}

ul.nav-main li a {
    color: #fff;
}