body{
  font-size: 1rem !important;
}
/* Globales */

.btn-primary-custom{
  background-color: #b71c1c !important;
  border-color: #b71c1c #b71c1c #b71c1c !important;
  color: #ffffff;
}

.btn-primary-custom:hover{
  background-color: #7e1414 !important;
  border-color: #7e1414 #7e1414 #7e1414 !important;
  color: #ffffff;
}

.btn-primary-custom:active{
  background-color: #7e1414 !important;
  background-image: none !important;
  border-color: #7e1414 #7e1414 #7e1414 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-primary-custom:focus{
  box-shadow: none !important;
}

html .btn-primary:focus, html .btn-primary.focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

html .btn-primary:active, html .btn-primary.active, .show > html .btn-primary.dropdown-toggle {
    background-color: #7e1414 !important;
    background-image: none !important;
    border-color: #7e1414 #7e1414 #7e1414 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn.btn-sm {
  padding: 0.1rem 0.3rem !important;
}

/* Estatus de Inspecciones */

.badge-solventada{
  background: #8409B2;
  color:white;
}

.badge-epc{
  background: #B25100;
  color:white;
}

.badge-multa{
  background: #000000;
  color:white;
}

/* Modals */

.modal-header{
  background-color: #f6f6f6;
  color: #777;
}

.modal-header>h3{
  margin-top: 0;
}

#desea-eliminar .fas{
  color: #ed9c28;
}

#registro-correcto .fas{
  color: #47a447;
}

#actualizacion-correcta .fas{
  color: #47a447;
}

#validar-folios-asignados .fas{
  color: #ed9c28;
}


/* Login */

.logotipo-login{
  width: 10%;
  position: absolute;
  margin-top: 2%;
}

.navbar-light .navbar-text {
    color: #930223 !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}

#card-login .card-header {
    background: #4b1617 !important;
    color: #ffffff;
    border-radius: 5px 5px 0 0 !important;
    border-bottom: 1px solid #DADADA;
    padding: 18px;
    position: relative;
}

.navbar{
  background-image: url('../img/pattern.png');
  padding: 1rem 1rem !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

#card-login{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.body-sign {
    height: 100% !important;
}


/* Dashboard */

.jumbotron{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
}

.header .logo {
    float: left;
    margin: 0px 0 0 15px !important;
}

html.no-overflowscrolling .sidebar-left .nano {
    background: #4b1617 !important;
    -webkit-box-shadow: -5px 0 0 #2F3139 inset;
    box-shadow: -5px 0 0 #732f30 inset !important;
}

.sidebar-left .sidebar-header .sidebar-title {
    background: #4b1617;
    color: #ffffff;
    font-weight:  700;
}

.sidebar-left .sidebar-header .sidebar-toggle {

    background-color: #5e1c1d;
}

.page-header {
    background: #5e1c1d;
    border-left: 1px solid #5e1c1d;
}
.page-header h2 {
    border-bottom-color: #732f30;
}

ul.nav-main > li > a:hover, ul.nav-main > li > a:focus {
    background-color: #732f30;
}

ul.nav-main li a {
    color: #fff;
}

ul.nav-main > li.nav-expanded > a {
    background: #732f30 !important;
}

ul.nav-main li .nav-children {
    background: #4b1617 !important;
    -webkit-box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.7) inset;
    display: none;
    padding: 10px 0;
}

.nav-active{
  background: #732f30 !important;
}

ul.nav-main li .nav-children li a:hover, ul.nav-main li .nav-children li a:focus {
    background: #4b1617;
}

#separator, #ultima-sesion-mv{
  display: none;
}


/* Agregar Inspecciones Por Zona */

#comercios{
  overflow: auto;
  height: 15em;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-check-input{
  position: relative !important;
}

.checkbox-documento{
  position: absolute !important;
}

#seleccionar-todos{
  position: unset !important;
}

/* Vista de captura inspeciones */

.documento-requerido-t{
  width: 50%;
}

.documento-requerido-nombre, .seleccionar-todos-option{
  font-size: 0.8em;
}

.solicitado-t, .exhibido-t{
  width: 5%;
}

.observaciones{
  width: 40%;
}


/* Validacion de Folios Asignados */

#folios-no-asignados-div{
  overflow: auto;
  height: 15em;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* Agregar Tipo Inspeccion, Documentos*/

#documentos{
  overflow: auto;
  height: 15em;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

#documentos-editar{
  overflow: auto;
  height: 15em;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}



/* Responsive */

.header .toggle-sidebar-left {
    background: #b71c1c !important;
}


@media only screen and (max-width: 740px) {
  #userbox{
    display: none;
  }

  #ultima-sesion-dt{
    display: none;
  }

  .header .header-right {
    background: #FFF;
    float: none !important;
    height: 0px;
    margin-top: 56px;
    width: 100%;
  }

  #separator, #ultima-sesion-mv{
    display: block;
  }

}

@media only screen and (max-width: 1024px){
  #bienvenido-txt{
    font-size: 2.6rem;
    margin-top: 0 !important;
  }
}